{% load static %}
<script src="{% static 'js/axios.min.js' %}"></script>

<script>
    <!--    define veriable-->
    const items = document.querySelectorAll('[data-post-slug]');
    items.forEach(item => {
        item.addEventListener('click', event => {

            // take data post slug
            const slug = event.target.getAttribute('data-post-slug');

            if (slug) {

                let form = new FormData();

                // append form data's above
                form.append('slug', slug);
                form.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                axios.post('blog/fav/update/', form).then(res => console.log(res)).catch(err => console.log(err))

            }


        })

    })

</script>